@theme {

  /* xs */
  --text-12-r: 12px;
  --text-12-r--line-height: 16px;
  --text-12-r--font-weight: 400px;

  --text-12-m: 12px;
  --text-12-m--line-height: 16px;
  --text-12-m--font-weight: 500px;

  --text-12-sb: 12px;
  --text-12-sb--line-height: 16px;
  --text-12-sb--font-weight: 600px;

  --text-12-b: 12px;
  --text-12-b--line-height: 16px;
  --text-12-b--font-weight: 700px;

  /* sm */
  --text-14-r: 14px;
  --text-14-r--line-height: 20px;
  --text-14-r--font-weight: 400px;

  --text-14-m: 14px;
  --text-14-m--line-height: 20px;
  --text-14-m--font-weight: 500px;

  --text-14-sb: 14px;
  --text-14-sb--line-height: 20px;
  --text-14-sb--font-weight: 600px;

  --text-14-b: 14px;
  --text-14-b--line-height: 20px;
  --text-14-b--font-weight: 700px;

  /* base */
  --text-16-r: 16px;
  --text-16-r--line-height: 24px;
  --text-16-r--font-weight: 400px;

  --text-16-m: 16px;
  --text-16-m--line-height: 24px;
  --text-16-m--font-weight: 500px;

  --text-16-sb: 16px;
  --text-16-sb--line-height: 24px;
  --text-16-sb--font-weight: 600px;

  --text-16-b: 16px;
  --text-16-b--line-height: 24px;
  --text-16-b--font-weight: 700px;

  /* lg */
  --text-18-r: 18px;
  --text-18-r--line-height: 28px;
  --text-18-r--font-weight: 400px;

  --text-18-m: 18px;
  --text-18-m--line-height: 28px;
  --text-18-m--font-weight: 500px;

  --text-18-sb: 18px;
  --text-18-sb--line-height: 28px;
  --text-18-sb--font-weight: 600px;

  --text-18-b: 18px;
  --text-18-b--line-height: 28px;
  --text-18-b--font-weight: 700px;

  /* xl */
  --text-20-r: 20px;
  --text-20-r--line-height: 28px;
  --text-20-r--font-weight: 400px;

  --text-20-m: 20px;
  --text-20-m--line-height: 28px;
  --text-20-m--font-weight: 500px;

  --text-20-sb: 20px;
  --text-20-sb--line-height: 28px;
  --text-20-sb--font-weight: 600px;

  --text-20-b: 20px;
  --text-20-b--line-height: 28px;
  --text-20-b--font-weight: 700px;

  /* 2xl */
  --text-24-r: 24px;
  --text-24-r--line-height: 32px;
  --text-24-r--font-weight: 400px;

  --text-24-m: 24px;
  --text-24-m--line-height: 32px;
  --text-24-m--font-weight: 500px;

  --text-24-sb: 24px;
  --text-24-sb--line-height: 32px;
  --text-24-sb--font-weight: 600px;

  --text-24-b: 24px;
  --text-24-b--line-height: 32px;
  --text-24-b--font-weight: 700px;
}